<!DOCTYPE html>
<html lang="en">
<head>
<!-- use the latest IE browser -->
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<!-- favicon -->
<link href="./image/dongwuyuan.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />

<!-- generating meta tags -->
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<meta charset='utf-8' />
<meta name='description' content='Programming problems and contests in different domains of Computer Science. Solve interesting and challenging programming problems' />
<!-- ends meta tags generation -->

<!-- Load Jquery -->
<script src="./base.js" type="text/javascript"></script>

<!-- Some Black Magic for Internet Explorer -->

<!--[if lt IE 10]>
<script src="https://d3keuzeb2crhkn.cloudfront.net/hackerrank/assets/jquery-plugins/jQuery.XDomainRequest-fa3026343737c0f568c794207de33fb3.js" type="text/javascript"></script>
<![endif]-->

<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js" type="text/javascript"></script>
<![endif]-->

<!-- Chrome Frame for IE6 -->
<!--[if lt IE 7 ]>
 <script src="https://ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script><script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->

<!--[if lte IE 9]>
<script>
    IE_BROWSER = true
</script>
<![endif]-->

<!-- For all browsers -->
<link href="./library.css" media="all" rel="stylesheet" type="text/css" />
<link href="./core.css" media="all" rel="stylesheet" type="text/css" />
<link href="./hackerrank.css" media="all" rel="stylesheet" type="text/css" />
<script src="./library.js" type="text/javascript"></script>

<meta name="viewport" content="width=device-width">

</head>

<link href="./animate.css" media="all" rel="stylesheet" type="text/css" />

<div class="static-topbar hrw-home-topbar hrwHome">
    <div class="container clearfix">
        <a class="hrw-logo static-logo pull-left" href="/">
            <img src="brand.png" width="150" height="55">
        </a>
        <a href="#" class="nav-toggle"><i class="icon-menu-large"></i></a>
        <nav class="static-home-nav">
            <span class="static-nav static-links">
                <a class="static-link active" href="/"><i class="icon-user"></i>首页</a>
                <span class="work-navgroup static-link">
                    <a href="/work"><i class="icon-briefcase"></i>程序猿</a>
                    <div class="work-dropdown">
                        <a href="/work/partner">合伙</a>
                        <a href="/work/intern">实习</a>
                        <a href="/work/parttime">私活</a>
                    </div>
                </span>
                <a class="static-link" href="/school"><i class="icon-graduation-cap"></i>淘金者</a>
            </span>
            <span class="static-auth hrw-home-auth">
                <a href="/login" class="btn btn-line btn-green">登录</a>
                <a href="/signup" class="btn btn-line btn-green">注册</a>
            </span>
        </nav>
    </div>
</div>

<body id="" class="static static-home height_auto">
    <div class="static-hero hr-home-hero">
        <div class="videoBg myvideo" id="video"> </div>
        <div class="overlay">
            <div class="container--flex">
                <div class="hero-content">
                    <h2>printf("Hello, 程序猿");</h2>
                </div>
            </div>
        </div>
    </div>
    <aside class="hr-home-herosub fill-dark pjT pjB">
    </aside>
    <section class="static-section hr-home-mission container--flex">
    <p class="large text-center pjR pjL pjB block-center" style="max-width: 650px;font-size:25pt;">while(1) {<em class="color-green">发现</em>}
        <ul class="hr-mission-highlights unstyled row">
            <li class=" hr-mission-highlight span-xs-16 span-md-8">
                <div class="hr-mission-figure hr-mission-developers is-active">
                    <span class="hr-mission-content">
                        <img alt="People" src="people.png" />
                        <p>1000+<br>
                        程序猿</p>
                    </span>
                </div>
            </li>
            <li class=" hr-mission-highlight span-xs-16 span-md-8">
                <div class="hr-mission-figure hr-mission-languages is-active">
                    <span class="hr-mission-content">
                        <img alt="Python-logo" src="language.png" />
                        <p>10+<br>
                        语言</p>
                    </span>
                </div>
            </li>
            <li class=" hr-mission-highlight span-xs-16 span-md-8">
                <div class="hr-mission-figure hr-mission-challenges is-active">
                    <span class="hr-mission-content">
                        <img alt="Medal_of_honor" src="team.png" />
                        <p>40+<br>
                        团队</p>
                    </span>
                </div>
            </li>
            <li class=" hr-mission-highlight span-xs-16 span-md-8">
                <div class="hr-mission-figure hr-mission-companies is-active">
                    <span class="hr-mission-content">
                        <img alt="Suitcase" src="suitcase.png" />
                        <p>100+<br>
                        案例</p>
                    </span>
                </div>
            </li>
        </ul>
    </section>
    <section class="hr-domains static-section">
        <p class="large text-center pjR pjL pjB block-center" style="max-width: 650px;font-size:25pt;">while(1) {<em class="color-green">成长</em>}
        <div class="hr-domains-cards container--flex">
            <ul class="unstyled row">
                <li class="hr-domains-card cursor hr-domains-ai span-xs-16 span-md-8 span-lg-fifth" data-link="https://www.hackerrank.com/domains/ai/introduction">
                    <div class="hr-landing-card-details hr-domain-card-details">
                        <div class="hr-domains-text">
                            <h5>Android/iOS</h5>
                            <p>Java/ObjC语言特性<br>App基本开发流程<br>第三方库与设计模式</p>
                        </div>
                    </div>
                </li>
                <li class="hr-domains-card cursor hr-domains-algo span-xs-16 span-md-8 span-lg-fifth" data-link="https://www.hackerrank.com/domains/algorithms/warmup">
                    <div class="hr-landing-card-details hr-domain-card-details">
                        <div class="hr-domains-text">
                            <h5>网页前端</h5>
                            <p>Html/Css/Js等基本语法<br>H5,Bs,jQuery等类库<br>框架设计</p>
                        </div>
                    </div>
                </li>
                <li class="hr-domains-card cursor hr-domains-fp span-xs-16 span-md-8 span-lg-fifth" data-link="https://www.hackerrank.com/domains/fp/intro">
                    <div class="hr-landing-card-details hr-domain-card-details">
                        <div class="hr-domains-text">
                            <h5>后台开发</h5>
                            <p>Php,JSP,ASP等特性<br>Django,Nodejs,等框架<br>架构、鲁棒、并发</p>
                        </div>
                    </div>
                </li>
                <li class="hr-domains-card cursor hr-domains-golf span-xs-16 span-md-8 span-lg-fifth" data-link="https://www.hackerrank.com/domains/miscellaneous/normal-languages">
                    <div class="hr-landing-card-details hr-domain-card-details">
                        <div class="hr-domains-text">
                            <h5>算法</h5>
                            <p>熟悉常见算法以及实现<br>代码风格与效率<br>探究精神</p>
                        </div>
                    </div>
                </li>
                <li class="hr-domains-card cursor hr-domains-ml span-xs-16 span-md-8 span-lg-fifth" data-link="https://www.hackerrank.com/domains/ai/machine-learning">
                    <div class="hr-landing-card-details hr-domain-card-details">
                        <div class="hr-domains-text">
                            <h5>其他</h5>
                            <p>全权负责技术CTO<br>测试、运维<br>私活</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="hr-leaderboard fill-dark static-section">
        <div class="container--flex">
            <p class="large text-center pjR pjL pjB block-center" style="max-width: 650px;font-size:25pt;">while(1) {<em class="color-green">推荐</em>}
            <div class="span-lg-6">
                <p class="mlB">无论是会写内核的Android大神，还是只会div的前端小菜，我们相信：总有一个对的团队，你带它飞或者它和你一起成长。</p>
                <p class="mlB">尝试为合适的团队推荐合适的程序猿，也许你就能发现金子。</p>
                <a class="btn btn-flat btn-primary" href="/login?utm_medium=header&utm_source=hr-homepage">淘金</a>
            </div>
            <div class="span-lg-4">
                <p class="mlB"></p>
            </div>
            <div class="span-lg-6">
                <p class="mlB">想合伙创业？想找实习？想接私活？但是不知道自己行不行？</p>
                <p class="mlB">让更有经验的程序猿前辈来看看你有几斤几两，为你推荐最合适的团队。赶紧完善自己的技能信息吧！</p>
                <a class="btn btn-flat btn-primary" href="/login?utm_medium=header&utm_source=hr-homepage">完善信息</a>
            </div>
        </div>
    </section>
    <section class="hr-hackers container--flex static-section">
        <h2 class="mjB">每日推荐</h2>
        <div class="hr-hackers-cards row">
            <div class="span-xs-16 span-md-8">
                <div class="hr-hackers-card ">
                    <img alt="Xiaocong" src="coder4.jpg" />
                    <div class="hr-hackers-details">
                        <h6 class="color-green hacker-name">陈立志</h6>
                        <p class="color-alt-grey hacker-company">C/C++, Python</p>
                        <p class="small"><q>想找硬件相关的创业团队，最好以合伙人的方式加入</q></p>
                        <p><a href="#" target="_blank">了解更多</a></p>
                    </div>
                </div>
            </div>
            <div class="span-xs-16 span-md-8">
                <div class="hr-hackers-card ">
                    <img alt="Steve" src="coder2.jpeg" />
                    <div class="hr-hackers-details">
                        <h6 class="color-green hacker-name">林翻天</h6>
                        <p class="color-alt-grey hacker-company">Nodejs</p>
                        <p class="small"><q>做服务器后台开发，创业方向最好和健康相关</q></p>
                        <p><a href="#" target="_blank">了解更多</a></p>                    </div>
                </div>
            </div>
            <div class="span-xs-16 span-md-8">
                <div class="hr-hackers-card">
                    <img alt="Khassan" src="coder3.jpg" />
                    <div class="hr-hackers-details">
                        <h6 class="color-green hacker-name">胡美丽</h6>
                        <p class="color-alt-grey hacker-company">JS/Html5/Css</p>
                        <p class="small"><q>寻找前端实习，工作量不要太大，工资面谈</q></p>
                        <p><a href="#" target="_blank">了解更多</a></p>
                    </div>
                </div>
            </div>
            <div class="span-xs-16 span-md-8">
                <div class="hr-hackers-card">
                    <img alt="Jay" src="coder1.jpg" />
                    <div class="hr-hackers-details">
                        <h6 class="color-green hacker-name">王池</h6>
                        <p class="color-alt-grey hacker-company">C/C++,Matlab</p>
                        <p class="small"><q>擅长算法，机器学习，只想做兼职，无法全职</q></p>
                        <p><a href="#" target="_blank">了解更多</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<div class="plT plB static-footer fill-dark">
  <div class="container--flex">
    <div class="row mlT mlB">
      <div class="span-xs-16 span-lg-2ofthree x-footer-links">
        <div class="row">
          <ul class="unstyled mlB span-xs-16 span-sm-third">
            <li><p class="color-alt-grey mmB"><strong>公司</strong></p></li>
            <li><a href="/aboutus">关于我们</a></li>
          </ul>
          <ul class="unstyled mlB span-xs-16 span-sm-third">
            <li><p class="color-alt-grey mmB"><strong>文档</strong></p></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/updatelog">更新说明</a></li>
          </ul>
          <ul class="unstyled mlB span-xs-16 span-sm-third">
            <li><p class="color-alt-grey mmB"><strong>其他</strong></p></li>
            <li><a href="/contactus">联系我们</a></li>
          </ul>
        </div>
      </div>
      <div class="span-xs-16 span-sm-16 span-lg-third x-footer-brand">
          <div class="block-center">
            <img src="brand.png" width="150" height="55">
          </div>
        <p>&copy; 2015 动物源</p>
      </div>
    </div>
  </div>
</div>

</body>

</html>
